<div class="container">
    {{# if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">Sign Up</p>
                <form class="login" action="/user/signup" method="post">
                    <input type="text" name="email" id="email" placeholder="E-mail" />
                    <input type="password" name="password" id="password" placeholder="Password" />
                    <input type="submit" value="Sign Up" class="btn btn-default btn-sm" />
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                </form>
            </div>
        </div>
    </div>
</div>