<div class="container">
    {{# each article}}
    <div class="span8">
        <h1 style="float: left; color: white">{{this.name}}</h1>
        <h4 style="float: left; color: white">{{this.author}}</h4>
        <p style="float: left; color: black">{{this.text}}</p>
        <div class="clear"></div>
        <hr>
    </div>
    {{/each}}
</div>